@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:wght@500;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

